.lesson {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
  height: 400vh;
  margin: 200px;
}

.lesson_list {
  display: grid;
  align-items: flex-start;
  justify-items: center;
  justify-content: center;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(1, 1fr);
  row-gap: 40px;
  width: 1000px;
  background-color: beige;
}

.lesson_list a {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: wheat;
}
